@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html {
  scroll-behavior: smooth;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: #030303;
}

p {
  font-size: 18px;
  line-height: 1.4;
}

.btn {
  width: 200px;
  height: 50px;
  color: var(--color-text);
  background: var(--color-background-dark);
  border: none;
  border-radius: 28px;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.btn active {
  background: var(--color-button-active);
}

.main__layout {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 0;
}

.page__container {
  max-width: 1158px;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  background-color: var(--color-background);
}

.contact {
  padding: 1.5rem 1em;
}

/*Boven de 650px desktop*/
@media (min-width: 650px) {
  .page__container {
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    background-color: #3d7f43;
  }
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--color-button-hover);
  }
}
